<%- include("../partials/head") %>
<%- include("../partials/seo") %>
<% if(kullanici.marketAdmin == "true") { %>
<%- include("../partials/marketadminnavbar") %> 
<% } else if(kullanici.admin == "true") { %>
<%- include("../partials/adminnavbar") %> 
<% } else { %>
<%- include("../partials/signednavbar") %>
<% } %>
<div class="container-fluid bg-second text-light">
<div class="container">
<div class="row">
<div class="col-12 m-b" style="padding-top:1.5vw;">
<h3><%= market.isim %></h3> 
</div>
</div>
</div>  
</div>
<div class="container m-t">
<h4><%= market.isim %> Ürünleri</h4>
<div class="row">
<% urun.forEach(urun => { %>
<div class="col-md-3">
<div class="card m-t">
<div class="card-img-top text-center" style="padding-top:2vh;">
<img src="/uploads/<%= urun.foto %>" style="border-radius:5px;">
</div>
<div class="card-body">
<h3><%= urun.baslik %></h3>
<span class="text-success"><b><%= urun.fiyat%>TL</b></span><br><br>
<% if(kullanici.marketId == urun.marketId ) { %>
<div class="d-flex" style="gap:1vw;flex-wrap:wrap;">
<form style="width:45%" method="POST" action="/urun/sil/<%= urun._id %>">
<input style="width:100%;float:left;" type="submit" class="btn btn-danger" value="Sil">
</form>
<form style="width:45%" method="POST" action="/urun/duzenleme/<%= urun._id %>">
<input style="width:100%" type="submit" class="btn btn-dark" value="Düzenle">
</form>
</div>
<% } %>
</div>  
</div>  
</div>  
<% }) %>
</div>
</div>
