<%- include("../partials/head") %>
<%- include("../partials/seo") %>
<%- include("../partials/navbar") %> 
<%- include("../partials/marketnavbar") %> 
<div class="container m-t">
<div class="row justify-content-center">
<div class="col-md-5">
<div class="foto">
<img src="<%= urun.foto %>">  
</div>  
</div>
<div class="col-md-5 urun-content">
<h3><%= urun.baslik %></h3>
<label>Satıcı : <%= urun.aciklama %></label>
<label class="m-t"><%= urun.market %></label><br>
<span style="font-size:1.5em" class="m-t m-b text-success"><b><%= urun.fiyat %></b>TL</span>
<div class="row">
<button style="width:40%" onclick="alert('Sepete Eklemek için Kayıt Olman gerek')" class="btn bg-dark btn-dark">
<i class="fal fa-shopping-basket"></i> Sepete ekle
</button> 
</div>
</div>
</div>
<div class="row justify-content-center">
<div class="col-9">
<h4>Yorumlar</h4>  
<% yorum.forEach(yorum => { %>
<b><%= yorum.kullanici_adi %></b><br>
<label><%= yorum.mesaj %></label><br>
<% }) %>
<form method="POST" action="/yorum/ekle/<%= urun.id %>">
<h4>Yorum yapmak için Giriş yapmanız gerek</h4>
</div>
</div>
